TestClient/x64/Debug/TestClient.tlog/CL.command.1.tlog
TestClient/x64/Debug/TestClient.tlog/CL.read.1.tlog
TestClient/x64/Debug/TestClient.tlog/CL.write.1.tlog
TestClient/x64/Debug/TestClient.tlog/TestClient.lastbuildstate
TestClient/x64/Debug/TestClient.tlog/link.command.1.tlog
TestClient/x64/Debug/TestClient.tlog/link.read.1.tlog
TestClient/x64/Debug/TestClient.tlog/link.write.1.tlog
TestClient/x64/Debug/vc140.idb
TestServer/x64/Debug/TestServer.tlog/CL.command.1.tlog
TestServer/x64/Debug/TestServer.tlog/CL.read.1.tlog
TestServer/x64/Debug/TestServer.tlog/CL.write.1.tlog
TestServer/x64/Debug/TestServer.tlog/TestServer.lastbuildstate
TestServer/x64/Debug/TestServer.tlog/link.command.1.tlog
TestServer/x64/Debug/TestServer.tlog/link.read.1.tlog
TestServer/x64/Debug/TestServer.tlog/link.write.1.tlog
TestServer/x64/Debug/vc140.idb
TestSocket.sdf
TestSocket.VC.opendb
